<ion-header>
  <ion-toolbar color="calc-bg">
    <ion-buttons slot="start">
      <ion-icon class="invert-icon" slot="icon-only" name="code-slash"></ion-icon>
    </ion-buttons>
    <ion-title>Padrão</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row id="result-window">
      <ion-item color="dark-step-650">
        <ion-input id="calc-screen" [(ngModel)]="input" autofocus clearOnEdit="false" type="text" placeholder="123"></ion-input>
        <ion-note>{{ result }}</ion-note>
      </ion-item>
    </ion-row>
    <ion-row class="buttons">
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="%" expand="block">
        <ion-label>%</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="SQRT" expand="block">
        <ion-label>√</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="EXP2" expand="block">
        <ion-label><i>x<sup>2</sup></i></ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="1/x" expand="block">
        <ion-label><i><sup>1</sup>/<sub>x</sub></i></ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="buttons">
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="CE" expand="block">
        <ion-label>CE</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="C" expand="block">
        <ion-label>C</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="BACKSPACE" expand="block">
        <ion-label><ion-icon name="backspace" style="scale: 1.25"></ion-icon></ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="DIVIDE" expand="block">
        <ion-label><ion-icon [src]="divideIcon"></ion-icon></ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="buttons">
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="7" expand="block">
        <ion-label>7</ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="8" expand="block">
        <ion-label>8</ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="9" expand="block">
        <ion-label>9</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="X" expand="block">
        <ion-label>X</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="buttons">
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="4" expand="block">
        <ion-label>4</ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="5" expand="block">
        <ion-label>5</ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="6" expand="block">
        <ion-label>6</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg"b (click)="verifyDigit($event)" id="MINUS" expand="block">
        <ion-label>-</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="buttons">
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="1" expand="block">
        <ion-label>1</ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="2" expand="block">
        <ion-label>2</ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="3" expand="block">
        <ion-label>3</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="ADD" expand="block">
        <ion-label>+</ion-label>
      </ion-button>
    </ion-row>
    <ion-row class="buttons">
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="+/-" expand="block">
        <ion-label><sup>+</sup>/<sub>-</sub></ion-label>
      </ion-button>
      <ion-button color="button-bg" (click)="verifyDigit($event)" id="0" expand="block">
        <ion-label>0</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="," expand="block">
        <ion-label>,</ion-label>
      </ion-button>
      <ion-button color="button-dark-bg" (click)="verifyDigit($event)" id="EQUALS" expand="block">
        <ion-label>=</ion-label>
      </ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
