<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-icon class="invert-icon" slot="icon-only" name="calculator"></ion-icon>
    </ion-buttons>
    <ion-title>Simples</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <!--VALUE FIELDS-->
  <ion-item class="value-input">
    <ion-label position="floating" class="font-weight-700">VALOR 1</ion-label>
    <ion-input type="number" placeholder="123" [(ngModel)]="value1"></ion-input>
  </ion-item>
  <ion-item class="value-input">
    <ion-label position="floating" class="font-weight-700">VALOR 2</ion-label>
    <ion-input type="number" placeholder="123" [(ngModel)]="value2"></ion-input>
  </ion-item>

  <!--OPERATOR BUTTONS-->
  <div lines="inset" id="buttons">
    <ion-button expand="block" mode="ios" (click)="sum()">
      <ion-icon [src]="sumIcon"></ion-icon>
    </ion-button>
    <ion-button expand="block" mode="ios" (click)="sub()">
      <ion-icon [src]="subtractionIcon"></ion-icon>
    </ion-button>
    <ion-button expand="block" mode="ios" (click)="mult()">
      <ion-icon [src]="multiplyIcon"></ion-icon>
    </ion-button>
    <ion-button expand="block" mode="ios" (click)="divi()">
      <ion-icon [src]="divideIcon"></ion-icon>
    </ion-button>
  </div>

  <div lines="inset" id="sum-minus">
    <ion-button expand="block" mode="ios" class="font-weight-600" (click)="mt()">MAIOR</ion-button>
    <ion-button expand="block" mode="ios" class="font-weight-600" (click)="lt()">MENOR</ion-button>
  </div>

  <!--RESULTS-->
  <ion-item id="result">
    <ion-label class="font-weight-700">RESULTADO:</ion-label>
  </ion-item>
  <ion-item>
    <ion-label class="font-weight-400">{{ result }}</ion-label>
  </ion-item>

</ion-content>
