<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> CALCULADORA </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>VALOR 1</ion-label>
    <ion-input type="number"></ion-input>
    <ion-label>VALOR 2</ion-label>
    <ion-input type="number"></ion-input>
  </ion-item>
  <ion-item>
    <ion-button>+</ion-button>
    <ion-button>-</ion-button>
    <ion-button>*</ion-button>
    <ion-button>/</ion-button>
  </ion-item>
  <ion-item>
    <ion-button>MAIOR</ion-button>
    <ion-button>MENOR</ion-button>
  </ion-item>
  <ion-label>{{ result }}</ion-label>
</ion-content>
